#title {
  background-color: #46185f;
  color: #f6f4e6;
  text-align: center;
}

#footer {
  text-align: center;
  padding: 5% 1% 5% 1%;
  font-size: 1.5rem;
}

/* Feature section */
#features {
  padding: 7% 15%;
  background-color: #f6f4e6;
  position: relative;
}

#testimonials {
  text-align: center;
  background-color: #ffc93c;
  color: #f6f4e6;
}

#press {
  text-align: center;
  background-color: #ea5455;
  padding-bottom: 3%;
}

#pricing {
  padding: 50px;
  text-align: center;
  background-color: #f6f4e6;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  line-height: 1.5;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.title-img {
  width: 52%;
  position: static;
  right: 30%;
}

.container-fluid {
  padding: 5% 8%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  height: 80px;
  line-height: 80px;
  color: #ffc93c;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #;
}

.nav-link:hover {
  border-bottom: 2px solid black;
}

/* Download-button */
.Download-button {
  margin: 5% 3% 5% 0%;
}

/* Title Image */
.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #46185f;
  padding: 1rem;
}

.icon:hover {
  color: #ffc93c;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

.pricing-column {
  padding: 3% 2%;
}

/*************** Pricing ***********/
@media (max-width: 1028px) {
  .title-img {
    width: 50%;
  }

  .h3-life {
    font-size: 2.5rem;
    font-weight: normal;
  }

  #start-ing {
    font-size: 4rem;
  }

  .about {
    font-weight: bolder;
  }

  .about-para {
    font-size: 3rem;
    color: grey;
  }

  .sep-p {
    font-size: 4rem;
  }

  h3 {
    font-size: 4rem;
  }

  em {
    font-size: 5rem;
  }

  .testimonial-text {
    font-size: 4rem;
    text-shadow: 0.2rem 0.2rem 0.2rem #000000;
  }

  #footer {
    font-size: 3rem;
  }

  .navbar-brand {
    font-size: 5rem;
  }

  .nav-link {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  .navbar-toggler {
    padding: 30px;
    background-color: #f6f4e6;
    color: #000000;
    border-radius: 20px 20px;
    border: 20px solid black;
  }

  .container-fluid {
    padding: 10%;
  }

  .committee-members {
    color: black;
    font-size: 5rem;
    text-align: center;
  }

  .names {
    font-size: 4rem;
    font-weight: bold;
  }
}

#cta {
  color: #f6f4e6;
  background-color: #ffc93c;
  text-align: center;
  padding: 7% 25%;
}

.final-h3 {
  font-size: 4rem;
  line-height: 1.5;
  text-shadow: 0.2rem 0.2rem 0.2rem #000000;
}

.social-icon {
  margin: 20px 10px;
}

.papa {
  text-align: left;
  border-left: 10px solid black;
  padding: 5%;
  font-size: 2.5rem;
}

b {
  font-size: 3rem;
  color: black;
}

b:hover {
  color: #014523;
}

.street {
  height: 300px;
  width: 250px;
  margin: 40px;
}

.start {
  text-align: left;
  margin: 0% 5% 5% 0%;
  border-left: 8px solid black;
  padding: 5% 0% 5% 5%;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  text-shadow: 0.2rem 0.2rem 0.2rem #000000;
  font-size: 3rem;
}

.about-us {
  background-color: #f6f4e6;
  font-size: 1.5rem;
  padding: 5%;
}

.sep-p {
  color: grey;
}

.about {
  text-align: left;
  padding-bottom: 3%;
  font-size: 3.7rem;
  border-bottom: 3px solid black;
  width: 31%;
}

.navbar-light {
  color: #41444b;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, .9);
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.committee-members {
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
}

.names {
  font-size: 2.5rem;
  font-weight: bold;
}

.members {
  background-color: #ffc93c;
  margin: 2%;
}

td {
  padding: 0% 0% 0% 3%;
}

.h3-life {
  text-align: center;
  font-size: 1.4;
}
